Today's prognosis: <%= @metric.value %> (<%= metric_value_description(@metric.value) %>)

<div
  data-controller="index-gauge"
  data-index-gauge-value-value="<%= @metric.value.to_f %>"
  data-index-gauge-min-value="-25"
  data-index-gauge-max-value="25"
  data-index-gauge-segments-value="<%= [
    { label: "We never even started", weight:10, color: "#ef4444", image: image_path('never_started.png')},
    { label: "Its Joever", weight: 10, color: "#f59e0b", image: image_path('joever.png')},
    { label: "Chopped", weight: 10, color: "#9ca3af", image: image_path('chopped.png')},
    { label: "Cooking", weight: 10, color: "#22c55e", image: image_path('cooking.png')},
    { label: "We are so back", weight: 10, color: "#16a34a", image: image_path('so_back.png')},
  ].to_json %>"
  class="max-w-5xl mx-auto my-6">
  <svg data-index-gauge-target="svg" class="w-full h-auto"></svg>
</div>

<ul>
  <li>Bottom half advancers: <%= @metric.bottom_half_advancers %></li>
  <li>VIX percentile: <%= @metric.vix_percentile %></li>
  <li>NDX change 30d: <%= @metric.ndx_change_30d %></li>
  <li>BTC change 30d: <%= @metric.btc_change_30d %></li>
</ul>

<% sorted = @metrics.sort_by(&:date) %>
<div
  data-controller="metric-chart"
  data-metric-chart-labels-value='<%= sorted.map { |m| m.date.to_s }.to_json %>'
  data-metric-chart-datasets-value='<%= [
    { label: "Metric", data: sorted.map { |m| m.value.to_f } },
    { label: "Bottom half", data: sorted.map { |m| m.bottom_half_value.to_f } },
    { label: "VIX", data: sorted.map { |m| m.vix_value.to_f } },
    { label: "NDX", data: sorted.map { |m| m.ndx_value.to_f } },
    { label: "BTC", data: sorted.map { |m| m.btc_value.to_f } }
  ].to_json %>'
  class="w-full my-4">
  <div class="w-full h-64">
    <canvas data-metric-chart-target="canvas" class="w-full h-full"></canvas>
  </div>
</div>
