<header class="py-10">
  <h1 class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold uppercase tracking-[0.25em]">
    <%= metric_value_description(@metric.value) %>
  </h1>

  <div class="pt-8 text-base sm:text-lg md:text-xl">
    <%= @metric.date.strftime("%A %B %e, %Y") %>
  </div>
</header>

<div class="relative max-w-5xl mx-auto mb-24 scroll-mt-24"
  data-controller="index-gauge-gl"
  data-index-gauge-gl-value-value="<%= @metric.value.to_f %>"
  data-index-gauge-gl-min-value="-25"
  data-index-gauge-gl-max-value="25"
  data-index-gauge-gl-inner-ratio-value="0.6"
  data-index-gauge-gl-segments-value="<%= [
    { label: 'We never even started', weight: 10, color: '#cc2450', image: image_path('never_started.png')},
    { label: 'Its Joever', weight: 10, color: '#cc7f00', image: image_path('joever.png')},
    { label: "It's Chopped", weight: 10, color: '#6030cc', image: image_path('yeah.png')},
    { label: 'We are so back', weight: 10, color: '#00a0a0', image: image_path('ooh.jpeg')},
    { label: "We've never been so back", weight: 10, color: '#c03080', image: image_path('never_been_so_back.png')},
  ].to_json %>"
  class="relative max-w-5xl mx-auto my-10 pt-6">
  <canvas data-index-gauge-gl-target="canvas" class="w-full block"></canvas>
  <svg data-index-gauge-gl-target="svg" class="absolute inset-0 w-full h-full pointer-events-none"></svg>
</div>

<section class="max-w-5xl mx-auto space-y-24">
  <div class="space-y-10">
    <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl scroll-mt-24 font-extralight" id="huh">Huh</h2>

    <p class="text-base/7 sm:text-lg/8 md:text-xl/8 pl-8">
      Dow this. Nasdaq that. FAANG. We have indices for everything but nothing to answer the most important question:

      Are we back or is it Joever?
    </p>
  </div>

  <div class="space-y-10">
    <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extralight">Still Huh</h2>

    <p class="text-base/7 sm:text-lg/8 md:text-xl/8 pl-8">
      There’s an elusive and hard to quantify aspect of the financial markets often called “Animal spirits.” Sophisticated market participants might prefer the terms “risk on/off.”
    </p>

    <p class="text-base/7 sm:text-lg/8 md:text-xl/8 pl-8">
      In essence, how motivated is the investing public to purchase financial assets today?
    </p>

    <p class="text-base/7 sm:text-lg/8 md:text-xl/8 pl-8">
      Looking at the major indices can give you some indication but it’s not a complete answer. You have to know not only whether people are ready to buy AAPL or AMZN today but if they’re buying a flaming pile of trash like CVNA.
    </p>
  </div>

  <div class="space-y-10">
    <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extralight">What</h2>

    <p class="text-base/7 sm:text-lg/8 md:text-xl/8 pl-8">
      The index is made of four components. I then smashed them into one number based on the vibes.
    </p>

    <ul class="list-inside list-disc pl-8 text-base/7 sm:text-lg/8 md:text-xl/8">
      <li>Bottom half advancers
        <ul class="list-none pl-6">
          <li class="relative pl-4 before:content-['-'] before:absolute before:left-0">How many of the worst performing S&P500 stocks over the last year are up today</li>
        </ul>
      </li>
      <li>Vix percentile
        <ul class="list-none pl-6">
          <li class="relative pl-4 before:content-['-'] before:absolute before:left-0">Lower is better</li>
        </ul>
      </li>
      <li>NDX last 30 day return
        <ul class="list-none pl-6">
          <li class="relative pl-4 before:content-['-'] before:absolute before:left-0">Self explanatory</li>
        </ul>
      </li>
      <li>BTC last 30 day return
        <ul class="list-none pl-6">
          <li class="relative pl-4 before:content-['-'] before:absolute before:left-0">Animal spirits aren’t back if crypto is pumping</li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<section class="max-w-5xl mx-auto space-y-24 scroll-mt-24 mt-24" id="history">
  <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extralight">Last 30 days</h2>

  <div
    data-controller="metric-chart"
    data-metric-chart-labels-value='<%= metric_chart_labels(@metrics) %>'
    data-metric-chart-datasets-value='<%= metric_chart_data(@metrics).to_json %>'
    class="w-full my-8">
    <div class="w-full">
      <canvas data-metric-chart-target="canvas" class="w-full h-full"></canvas>
    </div>
  </div>
</section>
