<!DOCTYPE html>
<html class="scroll-smooth" data-load-posthog="<%= Rails.env.production? %>">
  <head>
    <title><%= content_for(:title) || "Wearesobackindex" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen m-0 text-slate-100 relative">
    <div class="gradient-container">
    <header class="top-4 z-20">
      <div class="mx-auto max-w-xl sm:max-w-2xl md:max-w-4xl lg:max-w-6xl xl:max-w-7xl px-6 py-6 flex items-center justify-between rounded-lg">
        <div class="flex items-baseline gap-3">
          <a href="/" class="font-semibold tracking-tighter text-base sm:text-lg">So Back Index™</a>
        </div>
        <nav class="flex items-center gap-6 text-xs sm:text-sm md:text-base text-slate-300">
          <a href="#huh" class="hover:text-orange-500">Huh</a>
          <a href="#history" class="hover:text-orange-500">History</a>
        </nav>
      </div>
    </header>

    <main class="relative z-10 mx-auto max-w-xl sm:max-w-2xl md:max-w-4xl lg:max-w-5xl xl:max-w-6xl px-5 py-8">
      <%= yield %>
    </main>

    <footer class="">
      <div class="mx-auto max-w-xl sm:max-w-2xl md:max-w-4xl lg:max-w-6xl xl:max-w-7xl px-6 py-6 text-xs sm:text-sm text-slate-400 grid grid-cols-3 items-center">
        <span>Not investment advice.</span>

        <a href="https://www.yahoo.com/?ilc=401" target="_blank" class="justify-self-center">
          <img src="https://poweredby.yahoo.com/poweredby_yahoo_h_white_retina.png" class="w-20 sm:w-24 md:w-32 h-auto" alt="Powered by Yahoo"/>
        </a>

        <%= link_to 'https://github.com/elijahrogers/we_are_so_back_index', class: 'hover:text-orange-500 justify-self-end' do %>
          <span>GitHub</span>
        <% end %>
      </div>
    </footer>
    </div>
  </body>
</html>
